// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form-container {
    width: 90%;
    margin: 3% 0 3% 0;
    display: flex;
    align-items: center;
}

.comment-form-container img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.comment-form {
    border: 1px solid #cecccc;
    display: flex;
    justify-content: center;
    margin: 0 0 0 3%;
    border-radius: 20px;
    height: 35px;
    align-items: center;
    width: 100%;
    background: #f5f6f7
}

.comment-form input {
    outline: none;
    width: 96%;
    height: 70%;
    font-size: 13px;
    border: none;
    background: none;
}

.comment-author-pic {
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.comment-index {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    width: 90%;
}

.comment-index li {
    display: flex;
    flex-direction: row;
    border: none;
}

.comment-index-item-container {
    border: 1px solid #cecccc;
    display: flex;
    align-items: center;
    margin: 0 0 0 3%;
    min-height: 30px;
    max-width: 80%;
    border-radius: 20px;
    background: #f5f6f7;
    position: relative;
}

.comment-name {
    color: #385898;
    margin: 0 10px 0 15px;
    min-width: fit-content;
}
.comment-body {
    padding: 0 15px 0 0;
    outline: none;
    border: none;
    background: none;
    // position: relative
}

.comment-menu-btn-icon {
    background: image-url('options-icon.png');
    height: 20px;
    width: 20px;
    background-size: 30%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 55%;
    cursor: pointer;
    top: 40%;
    left: 97%;
    outline: none
}

.comment-menu-dropdown-list {
    position: absolute;
    width: 19%;
    border: 1px solid #cecccc;
    top: 66%;
    left: 80%;
    cursor: pointer;
    display: none;
    font-size: 13px;
    flex-direction: column;
    background: white;
    border-radius: 3px;
    z-index: 2;
}

.comment-menu-dropdown-list li {
    display: flex;
    align-items: flex-start;
    border: none;
    // padding: 0 0 0 6%;
    width: 100%;
}

.comment-menu-dropdown-list li:hover {
    background: #4267b2;
    color: white;
    border-radius: none;
}

.comment-menu-btn-icon:focus + .comment-menu-dropdown-list, .comment-menu-dropdown-list:hover {
    display: block;
    
}

.comment-menu-dropdown-btn {
    width: 100%;
    background: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 2% 0 2% 10%;
    font-weight: normal;
    border-radius: 0;
    outline: none;
}

.cancel-edit-comment {
    // border: 1px solid black;
    position: absolute;
    color: #385898;
    font-size: 10px;
    top: 105%;
    left: 80%;
    width: 40px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    font-weight: normal;
}

.cancel-edit-comment:hover {
    cursor: pointer;
}