.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #4267b2;
    width: 100%;
    padding: 3px 0 3px 0;
}

nav {
    padding: 0 20% 0 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    width: 30%;
    // justify-content: space-between;
}

.nav-logo > a {
    display: flex;
    align-items: center;
}

.nav-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: white;
    font-size: 13px;
}

.nav-button li:hover {
    background: rgba(0,0,0,0.1);
    border-radius: 3px;;
}

.nav-icon-list div:hover {
    opacity: unset;
}

.nav-button li {
    padding: 0 15px 0 15px;
    height: 30px;
    display: flex;
    align-items: center;
}

.nav-icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon-list:hover div {
    cursor: pointer;
}

.friend-request-icon {
    background: image-url('friend-requests-icon.png');
    background-size: 50%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    opacity: 70%;
    // position: absolute

}

.messenger-icon {
    background: image-url('messages-icon.png');
    background-size: 50%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    opacity: 70%;
    // position: absolute;
}

.notifications-icon {
    background: image-url('notifications-icon.png');
    background-size: 50%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    opacity: 70%;
    // position: absolute;
    
}

.navbar-logout-container {
    position: relative;
    border-left: 1px solid darkslategray
}

.logout-icon {
    background: image-url('logout-button-icon.png');
    background-size: 30%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    opacity: 70%;
    // position: absolute;
    // position: relative;
}

.logout-dropdown li {
    padding: 7px 0 7px;
}

.header-button {
    padding: 5px 0 5px;
    border: none;
    color: inherit;
    font-weight: inherit;
    border-radius: 0;
    background: inherit;
    width: 100%;
    outline: none;
}

li:hover > .header-button {
    background: #4267b2;
    color: white;
}

.search-bar {
    border-radius: 2px;
    border: none;
    box-shadow: none;
    height: 23px;
    width: 100%;
    outline: none;
}

.logo-img {
    height: 30px;
}

.nav-logo {
    // padding-right: 10px;
    border: 2px solid #1877f2;
}

.search-bar-form {
    padding-left: 10px;
    width: 100%;
}

.nav-home-button {
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
    
}

.notifications-dropdown li, .messages-dropdown li, .friend-request-dropdown li {
    font-size: 13px;
    padding: 5px;
}

.notifs, .messages, .friend-request {
    font-weight: bold;
    border-bottom: 1px solid #cecccc;
}

.friend-request-dropdown {
    display: none;
    position: absolute;
    left: -615%;
    top: 129%;
    height: fit-content;
    min-height: 60px;
    width: 300px;
    font-size: 14px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px -1px #ccc;
    // white-space: nowrap;
    // overflow: hidden;
}

.friend-request-dropdown:after {
    content: '';
    position: absolute;
    right: 20px;
    top: -9px;
    border-top: none;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
}

.messages-dropdown {
    display: none;
    position: absolute;
    left: -388%;
    top: 129%;
    height: 50px;
    width: 210px;
    font-size: 14px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px -1px #ccc;
    // white-space: nowrap;
    // overflow: hidden;
}

.messages-dropdown:after {
    content: '';
    position: absolute;
    right: 20px;
    top: -9px;
    border-top: none;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
}

.navbar-notifications-container, .navbar-messages-container, .navbar-friend-request-container {
    position: relative
}

.notifications-dropdown {
    display: none;
    position: absolute;
    left: -388%;
    top: 129%;
    height: 50px;
    width: 210px;
    font-size: 14px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px -1px #ccc;
    // white-space: nowrap;
    // overflow: hidden;
}

.notifications-dropdown:after {
    content: '';
    position: absolute;
    right: 20px;
    top: -9px;
    border-top: none;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
}

.friend-request-icon:focus + .friend-request-dropdown, .friend-request-dropdown:hover,
.messenger-icon:focus + .messages-dropdown,
.notifications-icon:focus + .notifications-dropdown,
.logout-icon:focus + .logout-dropdown, .logout-dropdown:hover {
    display: block;
    cursor: default;
}

.friend-request-icon, .messenger-icon, .notifications-icon, .logout-icon {
    outline: none
}


.logout-dropdown {
    display: none;
    position: absolute;
    left: -115px;
    top: 38px;
    height: 40px;
    width: 170px;
    font-size: 14px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px -1px #ccc;
    // white-space: nowrap;
    // overflow: hidden;
}

.logout-dropdown:after {
    content: '';
    position: absolute;
    right: 20px;
    top: -9px;
    border-top: none;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
}

.nav-profile-photo {
    padding: 0;    
}

.navbar-pic {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.request-index {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.request-index li {
    display: flex;
    font-size: 13px;
    font-weight: normal;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cecccc;
    margin: 1% 0 1% 0;
}

.request-index li:first-child {
    border-top: none;
}

.request-photo {
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

.request-photo + p {
    padding-left: 10px;
}

.request-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    width: 65px;
    height: 25px;
    outline: none;
    color: white;
    border: 1px solid #cecccc;
    background: #4267b2;
}

.request-buttons.cancel:hover, .request-buttons.answer:hover {
    background: rgba(0, 0, 0, 0.1);
}

.request-buttons.answer {
    // background: #4267b2;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.request-buttons.cancel {
    color: inherit;
    background: #f5f6f7;
}

.request-buttons {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.request-container {
    display: flex;
    align-items: center;
}
