.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background: #4267b2;
    width: 100%;
    padding: 3px 0 3px 0;
}

nav {
    padding: 0 450px 0 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 30px;
    border: 2px solid #1877f2;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
    width: 30%;
    // justify-content: space-between;
}

.nav-logo > a {
    display: flex;
    align-items: center;
}

.nav-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    color: white;
    font-size: 13px;
}

.nav-button li {
    padding: 0 15px 0 15px;
    height: 30px;
    display: flex;
    align-items: center;
}

.nav-icon-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon-list:hover div {
    cursor: pointer;
}

.friend-request-icon {
    background: image-url('friend-requests-icon.png');
    background-size: 50%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    // position: absolute

}

.messenger-icon {
    background: image-url('messages-icon.png');
    background-size: 50%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    // position: absolute;
}

.notifications-icon {
    background: image-url('notifications-icon.png');
    background-size: 50%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    // position: absolute;
    
}

.navbar-logout-container {
    position: relative;
    border-left: 1px solid darkslategray
}

.logout-icon {
    background: image-url('logout-button-icon.png');
    background-size: 30%;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    background-position: 50%;
    // position: absolute;
    // position: relative;
}

.logout-dropdown.false {
    display: none;
    position: absolute;
    left: -115px;
    top: 38px;
    height: 40px;
    width: 170px;
    font-size: 14px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px -1px #ccc;
    // white-space: nowrap;
    // overflow: hidden;
}

.logout-dropdown.false:after {
    content: '';
    position: absolute;
    right: 20px;
    top: -9px;
    border-top: none;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
}

.logout-dropdown.true {
    display: block;
    position: absolute;
    left: -115px;
    top: 38px;
    height: 40px;
    width: 170px;
    font-size: 14px;
    background: white;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px -1px #ccc;
}

.logout-dropdown.true:after {
    content: '';
    position: absolute;
    right: 20px;
    top: -9px;
    border-top: none;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
    border-left: 15px solid transparent;
}

.logout-dropdown li {
    padding: 7px 0 7px;
}

.header-button {
    padding: 5px 0 5px;
    border: none;
    color: inherit;
    font-weight: inherit;
    border-radius: 0;
    background: inherit;
    width: 100%;
}

li:hover > button {
    background: #4267b2;
    color: white;
}

.search-bar {
    border-radius: 2px;
    border: none;
    box-shadow: none;
    height: 23px;
    width: 100%;
    outline: none;
}

.nav-logo {
    padding-right: 10px;
}

.search-bar-form {
    width: 100%;
}

.nav-home-button {
    border-left: 1px solid darkslategray;
    border-right: 1px solid darkslategray;
    
}