.newsfeed-page {
    background: #f0f2f5;
}
.newsfeed-container {
    margin: 0 37% 0 18%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.newsfeed-left {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 2%;
    font-size: 15px;
    // border: 1px solid #cecccc;
    border-radius: 3px;
}

.newsfeed-right {
    width: 20%;
    border: 1px solid #cecccc;
    border-radius: 3px;
}

.newsfeed-main {
    width: 60%;
    margin-right: 2%;
    // border: 1px solid #cecccc;
    border-radius: 3px;
}

.feed-profile-photo a {
    display: flex;
    align-items: center;
}

.newsfeed-outside-links {
    display: flex;
    flex-direction: column;
}

.feed-pic {
    height: 35px;
    width: 35px;
    border-radius: 100%
}

.news-feed-post-form-container h3 {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 2% 0 2% 2%;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #cecccc;
    border-right: 1px solid #cecccc;
    border-left: 1px solid #cecccc;
    background: #f5f6f7;
}

.feed-link {
    margin-top: 5%;
    position: relative;
    height: 25px;
}

.feed-home-button {
    border: 1px solid #cecccc;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 20%;
    font-size: 13px;
    margin-top: 5%

}

.feed-home-icon {
    position: absolute;
    background: image-url('icons.png');
    width: 20px;
    height: 18px;
    background-position-y: -887px;
    background-position-x: 0px;
    background-size: 58px 1608px;
    top: 49%;
    left: 3%
}

.newsfeed-name {
    padding-left: 5%;
}

.newsfeed-name:hover {
    background: white;
}

.link-icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 4px;
}

.link-name {
    margin-left: 15%;
    padding: 5%;
    font-size: 13px;
}

.link-container {
    display: flex;
    margin: 4% 0 4% 0;
    position: relative;
}

.newsfeed-outside-links a:hover {
    background: white;

}

.newsfeed-outside-links h1 {
    font-size: 17px;
    margin: 15% 0 5% 0;
}