.newsfeed-page {
    background: #f0f2f5;
}
.newsfeed-container {
    margin: 0 37% 0 18%;
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.newsfeed-left {
    display: flex;
    flex-direction: column;
    width: 19%;
    margin-right: 2%;
    font-size: 15px;
    // border: 1px solid #cecccc;
    border-radius: 3px;
}

.newsfeed-right {
    width: 21%;
    // border: 1px solid #cecccc;
    border-radius: 3px;
}

.newsfeed-main {
    width: 60%;
    margin-right: 2%;
    // border: 1px solid #cecccc;
    border-radius: 3px;
}

.feed-profile-photo {
    height: 35px;
    display: flex;
    align-items: center;
}

.feed-profile-photo a {
    display: flex;
    align-items: center;
    width: 100%;
}

.newsfeed-outside-links {
    display: flex;
    flex-direction: column;
}

.feed-pic {
    height: 25px;
    width: 25px;
    border-radius: 100%;
    margin-left: 4px
}

.news-feed-post-form-container h3 {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    padding: 2% 0 2% 2%;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #cecccc;
    border-right: 1px solid #cecccc;
    border-left: 1px solid #cecccc;
    background: #f5f6f7;
}

.feed-link {
    margin-top: 5%;
    position: relative;
    height: 30px;
}

.feed-home-button {
    border: 1px solid #cecccc;
    background: white;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0 0 20%;
    font-size: 13px;
}

.feed-home-icon {
    background: image-url('icons-5.png');
    background-size: auto;
    background-position: 0 -1346px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    left: 3%;
    cursor: pointer;
}

.newsfeed-name {
    padding-left: 5%;
}

.feed-profile-photo:hover {
    background: white;
}

.link-icon {
    font-size: 25px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 4px;
}

.link-name {
    margin-left: 15%;
    padding: 5%;
    font-size: 13px;
}

.link-container {
    display: flex;
    margin: 4% 0 4% 0;
    position: relative;
}

.newsfeed-outside-links a:hover {
    background: white;

}

.newsfeed-outside-links h1 {
    font-size: 17px;
    margin: 15% 0 5% 0;
}

.credits-container {
    font-size: 12px;
    color: #90949c;
    margin: 5% 0 0 5%;
}

.credits {
    padding-bottom: 1%;
}

.birthdays, .calendar {
    border: 1px solid #cecccc;
    border-radius: 3px;
    font-size: 13px;
    background: white;
    display: flex;
    align-items: center;
    padding: 5% 0 5% 20%;
    flex-wrap: wrap;
    position: relative;
}

.calendar {
    margin-top: 5%
}

.birthdays p, .calendar p {
    margin-left: 5%
}

.birthday-icon {
    background: image-url('icons-5.png');
    background-size: auto;
    background-position: 0 -1031px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25%;
    left: 5%;
}

.calendar-icon {
    background: image-url('icons-5.png');
    background-size: auto;
    background-position: 0 -591px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    left: 5%;
}