// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image-preview-container {
    position: relative;
    margin: 2% 0 0 5%;
}
.image-preview {
    width: 30%;
}

.post-form-container {
    background: white
}

.close-x.cancel-photo {
    top: -10px;
    left: 120px;
    font-size: 19px;
    z-index: 2;
}

.close-x.cancel-photo:hover + .image-preview {
    opacity: 75%;
}

.image-preview:hover {
    opacity: 75%;
}

.create-post-form {
    border: 1px solid #cecccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.create-post-btn-container {
    background: #4267b2;
    outline: none;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    margin: 2% 0 2% 0;
    width: 90%;
}

.create-post-btn {
    display: flex;
    align-items: center;
    height: 0;
    width: 100%;
    justify-content: center;
    background: #4267b2;
}

.create-post-btn:hover {
    background: rgba(0, 0, 0, 0.1);
}

.upload-photo-btn {
    display: flex;
    cursor: pointer;
    width: 10%;
    padding: 2% 2% 2% 8%;
    border-radius: 20px;
    position: relative;
    background: #f5f6f7;
    margin: 2% 0 0 0;
}

.upload-photo-btn:hover {
    background: #f0f2f5
}

.post-photo-btn {
    position: absolute;
    top: 7px;
    left: 110px;
    display: none
}

.post-body {
    border-radius: 0;
    width: 88%;
    border: none;
    // resize: none;
    padding-top: 3%;
    font-size: 13px;
    
}

.post-body-container {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

.upload-photo-container {
    width: 90%;
    margin-top: 2%;
    border-top: 1px solid #cecccc
}

.photo-icon {
    background: image-url('icons-5.png');
    background-size: auto;
    background-position: 0 -1493px;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7px;
    left: 12px;
    cursor: pointer;
    z-index: 1;
}

.profile-right-post h3 {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.update-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: white;
    border-radius: 3px;
    border: 1px solid #cecccc
}

.close-x.post-form-modal {
    left: 365px;
    top: 2px;
    font-size: 25px;
}

.update-post-form h3 {
    font-size: 20px;
    margin: 5% 0 0 0;
    width: 90%;
    padding-bottom: 3%;
    border-bottom: 1px solid #cecccc;
}

.update-post-form button {
    background: #1877f2;
    width: 200px;
    margin: 30px 0 10px 0;
    outline: none;
}

.update-post-form button:hover {
    background: #1876f2ee;
}

.update-post-form textarea {
    margin: 5% 0 2% 0%;
    font-size: 13px;
}