.profile-page {
    background: #f0f2f5
}

.profile-info-container {
    margin: 0 37% 0 18%;
}

// .profile-header {
//     position: relative
// }

.profile-cover-photo {
    border-right: 1px solid #cecccc;
    border-left: 1px solid #cecccc;
    height: 300px;
}

.profile-cover-photo img {
    width: 100%;
    height: 100%;
}

.cover-photo-btn-container {
    // border: 1px solid yellow;
    position: absolute;
    top: 65px;
    left: 385px;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-photo-btn {
    color: white;
    background: rgb(27, 21, 21);
    font-size: 13px;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    // top: 65px;
    // left: 385px;
    opacity: 90%;
    height: 25px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    // display: none;
    border-radius: 5px;
    cursor: pointer;
}

// .cover-photo-btn:hover {
//     display: block;
    // color: white;
    // background: rgb(27, 21, 21);
    // font-size: 13px;
    // border: 1px solid white;
    // padding: 5px;
    // position: absolute;
    // top: 65px;
    // left: 385px;
    // opacity: 90%;
    // height: 25px;
    // width: 150px;
    // // display: none;
    // cursor: pointer;
    // display: flex;
    // align-items: center;
    // justify-content: center;
// }

.upload-btn {
    position: absolute;
    top: 36px;
    left: 0px;
    opacity: 0;
}

.profile-nav {
    display: flex;
    padding: 0 10% 0 25%;
    background: white;
    border: 1px solid #cecccc;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bold;;
    font-size: 14px;
    color: #385898;
}

.profile-nav li {
    border-right: 1px solid #cecccc;
    padding: 10px 20px 10px 20px;
}

.profile-nav li:hover {
    cursor: pointer;
    color: #4b4f56
}

.profile-nav li:first-of-type {
    border-left: 1px solid #cecccc
}

.profile-header-name {
    font-family: sans-serif;
    position: absolute;
    z-index: 2;
    color: white;
    font-weight: bold;
    font-size: 27px;
    top: 270px;
    left: 565px;
    -webkit-text-stroke: 1px black
}

.camera-icon {
    background: image-url('icons.png');
    background-size: 360%;
    background-repeat: no-repeat;
    height: 23px;
    width: 24px;
    background-position: -22px -2056px;
    opacity: 70%;
    left: 305px;
    top: 77px;
    position: absolute
}