.profile-bio-container {
    border: 1px solid #cecccc;
    margin: 4% 4% 0 0;
    background: white;
    border-radius: 3px;
    font-size: 13px;
    position: relative
}

.profile-bio-container h3, .profile-photos-container h3, .profile-friends-container h3 {
    font-size: 20px;
    padding: 5% 0 3% 15%;
}

.profile-bio-container p {
    text-align: center;
    border-bottom: 1px solid #cecccc;
    margin: 0 3% 0 3%;
    padding: 5% 0 5% 0;
}

.profile-bio-list {
    padding: 5% 0 0 15%;
}

.profile-bio-list li {
    padding-bottom: 8%;
}

font {
    color: #385898;
}

.profile-intro-icon {
    background: image-url('icons-2.png');
    width: 24px;
    height: 24px;
    background-position: 0 -58px;
    background-size: 33px 240px;
    position: absolute;
    top: 15px;
    left: 11px;
}

.profile-photos-container {
    position: relative;
    border: 1px solid #cecccc;
    margin: 4% 4% 0 0;
    background: white;
    border-radius: 3px;
    height: 100px;
    font-size: 13px;
}

.profile-photos-container p {
    text-align: center;
    margin: 0 3% 0 3%;
    padding: 5% 0 5% 0;
}

.profile-photos-icon {
    background: image-url('icons-2.png');
    width: 24px;
    height: 24px;
    background-position: 0 -33px;
    background-size: 33px 240px;
    position: absolute;
    top: 15px;
    left: 11px;
}

.profile-bio-icons {
    position: absolute
}

.school-icon {
    background: image-url('side-icons.png');
    width: 16px;
    height: 16px;
    background-position: 0 -527px;
    background-size: 27px 1030px;
    top: -72px;
    left: 15px;
    position: absolute
}

.work-icon {
    background: image-url('side-icons.png');
    width: 16px;
    height: 16px;
    background-position: 0 -340px;
    background-size: 27px 1030px;
    top: -37px;
    left: 15px;
    position: absolute
}

.house-icon {
    background: image-url('side-icons.png');
    width: 16px;
    height: 16px;
    background-position: 0 -408px;
    background-size: 27px 1030px;
    top: -107px;
    left: 15px;
    position: absolute
}

.heart-icon {
    background: image-url('side-icons.png');
    width: 16px;
    height: 16px;
    background-position: 0 -578px;
    background-size: 27px 1030px;
    top: -142px;
    left: 15px;
    position: absolute
}

.profile-friends-container {
    position: relative;
    border: 1px solid #cecccc;
    margin: 4% 4% 0 0;
    background: white;
    border-radius: 3px;
    height: 100px;
    font-size: 13px;
}

.profile-friends-icon {
    background: image-url('icons-3.png');
    width: 24px;
    height: 24px;
    background-position: 0 0px;
    background-size: 25px 151px;
    position: absolute;
    top: 15px;
    left: 11px;
}

