.profile-page {
    background: #f0f2f5
}

.profile-info-container {
    margin: 0 37% 0 18%;
}

.profile-header {
    position: relative
}

.profile-cover-photo {
    border-right: 1px solid #cecccc;
    border-left: 1px solid #cecccc;
    height: 300px;
}

.profile-cover-photo img {
    width: 100%;
    height: 100%;
}

.cover-photo-btn-container {
    // border: 1px solid yellow;
    position: absolute;
    top: 8%;
    left: 8%;
    height: 50px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover-photo-btn {
    color: white;
    background: rgb(27, 21, 21);
    font-size: 13px;
    border: 1px solid white;
    padding: 5px 5px 5px 30px;
    position: absolute;
    opacity: 0%;
    height: 25px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.cover-photo-btn:hover {
    opacity: 90%;
}

.upload-cover-btn {
    position: absolute;
    top: 36px;
    left: 0px;
    opacity: 0;
}

.profile-nav {
    display: flex;
    padding: 0 10% 0 25%;
    background: white;
    border: 1px solid #cecccc;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: bold;;
    font-size: 14px;
    color: #385898;
}

.profile-nav li {
    border-right: 1px solid #cecccc;
    padding: 10px 20px 10px 20px;
}

.profile-nav li:hover {
    cursor: pointer;
    // color: #4b4f56
    background: #f0f2f5;
}

.profile-nav li:first-of-type {
    border-left: 1px solid #cecccc
}

.profile-header-name {
    font-family: sans-serif;
    position: absolute;
    z-index: 2;
    color: white;
    font-weight: bold;
    font-size: 27px;
    top: 75%;
    left: 30%;
    -webkit-text-stroke: 1px black
}

.camera-icon-cover {
    background: image-url('icons.png');
    background-size: 360%;
    background-repeat: no-repeat;
    height: 23px;
    width: 24px;
    background-position: -22px -2056px;
    // opacity: 70%;
    left: -3%;
    top: 23%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.camera-icon-prof {
    background: image-url('icons.png');
    background-size: 360%;
    background-repeat: no-repeat;
    height: 23px;
    width: 24px;
    background-position: -22px -2056px;
    // opacity: 70%;
    left: 64px;
    top: 6px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.profile-photo {
    position: absolute;
    border: 1px solid #cecccc;
    height: 160px;
    width: 160px;
    border-radius: 100%;
    top: 52%;
    left: 4%
}

.prof-pic-img {
    height: 152px;
    width: 152px;
    border-radius: 100%;
    border: 4px solid white;
}

.profile-photo-btn-container {
    // border: 1px solid yellow;
    position: absolute;
    top: 76.5%;
    left: 4%;
    // height: 50px;
    // width: 150px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.profile-photo-btn {
    color: white;
    background: rgb(27, 21, 21);
    font-size: 13px;
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    top: 1px;
    left: 5px;
    opacity: 0%;
    height: 70px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 120px 120px;
    cursor: pointer;
}
.profile-photo-btn:hover {
    opacity: 90%;
}

.upload-prof-btn {
    position: absolute;
    top: 36px;
    left: 0px;
    opacity: 0;
}

.update-info-btn {
    position: absolute;
    background: white;
    top: 75%;
    left: 80%;
    height: 0;
    width: 110px;
    color: inherit;
    font-size: 13px;
    border: 1px solid #cecccc;
    border-radius: 3px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.update-info-btn:hover {
    background: #f0f2f5;
}

.update-info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background: white;
    border-radius: 3px;
    border: 1px solid #cecccc;
}

.update-info-form input {
    border-radius: 3px;
    border: 1px solid #cecccc;
    outline: none;
    width: 69%;
    height: 20px;
    font-size: 12px;
    font-family: inherit;
}

.close-x.update-form {
    left: 360px;
    top: 2px;
    font-size: 25px;
}

.update-info-form label {
    width: 100%;
    padding: 5% 0 2% 10%;
    font-size: 13px;
}

.update-info-form h3 {
    font-size: 20px;
    margin: 5% 0 0 0;
    width: 90%;
    padding-bottom: 3%;
    border-bottom: 1px solid #cecccc;
}

textarea {
    border: 1px solid #cecccc;
    width: 69%;
    height: 100px;
    outline: none;
    border-radius: 3px;
    font-family: inherit;
    font-size: 12px;
}

.update-info-form button {
    background: #1877f2;
    width: 200px;
    margin: 30px 0 10px 0;
    outline: none;
}

.update-info-form button:hover {
    background: #1876f2ee;
}

.profile-bottom {
    display: flex;
    justify-content: space-between;

}

.profile-left {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.profile-right {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.delete-friend-btn, .pending-friendship-btn, .request-friendship-btn {
    position: absolute;
    background: white;
    top: 75%;
    left: 80%;
    height: 0;
    width: 110px;
    color: inherit;
    font-size: 13px;
    border: 1px solid #cecccc;
    border-radius: 3px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.delete-friend-btn:hover .pending-friendship-btn:hover, .request-friendship-btn:hover {
    background: #f0f2f5;
}