body {
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
}

header {
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    height: 500px;
}

button {
    padding: 15px;
    border: none;
    color: #fff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.splash-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
}

.splash-logo {
    color: #3973fa;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 20px;
}

.splash-title {
    font-size: 25px;
    font-weight: normal;
}

.login-form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 2px #cecccc;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 375px;
    height: 350px
}

.login-form-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%
}

.button-create {
    background: #42b72a;
    width: 200px;
    margin-top: 10px;
    outline: none;
}

.button-create:hover {
    background: #42b72ae8;
    width: 200px;
    margin-top: 10px;
    outline: none;
}

.session-submit, .demo-button {
    background: #1877f2;
    color: #fff;
    font-weight: bold;
    outline: none;
}
.session-submit:hover, .demo-button:hover {
    background: #1876f2ee;
    // color: #fff;
    // font-weight: bold;
    // outline: none;
}

.demo-button {
    margin: 0px 0px 10px 0px;
    width: 100%;
}

button, input {
    border-radius: 5px;
}

.login-input {
    border: 1px solid  #cecccc;
    padding: 15px;
    margin-bottom: 10px;
    outline: none
}

.login-input.errors {
    border: 1px solid red;
}

footer {
    padding: 10px 50px 10px 50px;
    display: flex;
    color: dimgray;
}

.footer-links {
    display: flex;
    width: 100%;
    padding: 0 30% 0 0;
}

.footer-links a {
    padding: 0 10px 0 10px;
}

.copyright {
    width: 20%;
    text-align: center;
}