.wallpost-index li {
    width: 100%;
    border: 1px solid #cecccc;
    margin: 2% 0 0 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    position: relative;
}

.wallpost-photos {
    width: 90%;
    margin: 2% 0 2% 0;
}

.wallpost-body {
    font-size: 13px;
    display: flex;
    justify-content: center;
    margin: 2% 0 2% 0;
    width: 90%
}

.like-comment-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    padding: 2% 0 2% 0;
    border-bottom: 1px solid #cecccc
}

.post-menu-btn-icon {
    background: image-url('options-icon.png');
    height: 20px;
    width: 20px;
    background-size: 75%;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 55%;
    cursor: pointer;
    top: 1%;
    left: 92%;
    outline: none
}

.post-menu-dropdown-list {
    position: absolute;
    top: 5%;
    width: 15%;
    border: 1px solid #cecccc;
    left: 81%;
    cursor: pointer;
    display: none;
    font-size: 13px;
    flex-direction: column;
    background: white;
    border-radius: 3px;
}

.post-menu-dropdown-list li {
    display: flex;
    align-items: flex-start;
    border: none;
    // padding: 0 0 0 6%;
    width: 100%;
}

.post-menu-dropdown-list li:hover {
    background: #4267b2;
    color: white;
    border-radius: none;
}

.post-menu-btn-icon:focus + .post-menu-dropdown-list, .post-menu-dropdown-list:hover {
    display: block;
    
}

.post-menu-dropdown-btn {
    width: 100%;
    background: none;
    color: inherit;
    display: flex;
    align-items: center;
    padding: 2% 0 2% 10%;
    font-weight: normal;
    border-radius: 0;
}